#container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}

#headline {
    text-align: center;
}

#byline {
    font-size: smaller;
    margin: 0;
}

#photo1 {
    height: 350px;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#phototext {
    text-align: center;
    font-size: small;
}

#subheader {
    padding-top: 10px;
}